//- Télécharge la fiche du Bachelor RDC
mj-section(background-color='#ffffff')
    mj-column(width='480px')
        mj-button( css-class='hoverA' font-size='16px' font-weight='600' background-color='#EC6608' border-radius='5px' text-transform='uppercase' inner-padding='14px 24px' href='https://ecosup-commerce.fr/wp-content/uploads/2024/01/FicheBACHELORRDC16012024.pdf') Télécharger CV BOOK